@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "roboto", sans-serif;
  scroll-behavior: smooth;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header img {
  margin: 1em 0;
}
.header .form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #EAEAEA;
}
.header .form-group form {
  transform: translateX(15%);
}
.header .form-group input {
  height: 100%;
  border: none;
  background-color: #EAEAEA;
  font-size: 16px;
}
.header .form-group input:focus-within {
  outline: none;
}
.header .form-group ::placeholder {
  color: #000;
  font-weight: bold;
}
.header .form-group:focus {
  outline: none;
}
.header .form-group i {
  font-size: 1em;
  padding-right: 15px;
}

.description {
  background-color: #F6F6F6;
  text-align: center;
  padding: 2rem 0 1rem 0;
}
.description h1 {
  margin: 0 1rem;
  font-size: 24px;
  font-weight: 700;
}
.description p {
  margin: 1rem 0;
  padding: 0 1.5rem;
  font-size: 18px;
  font-weight: 300;
  color: #666666;
}
.description button {
  margin-top: 1rem;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(to bottom, #FF79DA, #a16be0);
  color: white;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-bottom: 2rem;
}
.description button:hover {
  opacity: 0.8;
  box-shadow: 0 0 15px #99E2D0;
}

.working {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}
.working .container {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
}
.working .icon {
  color: #7E7E7E;
  margin-right: 1.5rem;
  font-size: 1.3rem;
  transform: translateY(-15%);
}
.working .icon-color {
  color: #9356DC;
}
.working h2 {
  padding: 1.5rem 0;
}
.working__content {
  margin: 0 0.5rem;
}
.working__content__row {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #F6F6F6;
  height: 75px;
  border-radius: 20px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  padding: 0.8rem 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.working__content__row div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  position: absolute;
  color: white;
  background-color: #9356DC;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  left: 0;
  transform: translateX(-50%);
}

@media screen and (min-width: 1300px) {
  .working {
    margin: 0 auto;
  }
  .working .container {
    max-width: 1100px;
    width: 100%;
  }
  .working .working__content {
    display: flex;
  }
  .working .working__content__row {
    width: 100%;
  }
  .working .working__content__row:not(:last-child) {
    margin-right: 2rem;
  }
}
.restaurants {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  background-color: #F6F6F6;
}
.restaurants .container {
  width: 100%;
  max-width: 700px;
}
.restaurants .restaurants__cards {
  padding-bottom: 2rem;
}
.restaurants .restaurants__cards a {
  text-decoration: none;
  color: black;
  width: 100%;
  max-width: 650px;
  height: 300px;
}
.restaurants h2 {
  padding: 1.5rem 0;
}
.restaurants .card {
  width: 100%;
  position: relative;
  background-color: white;
  margin: 0 auto;
  border-radius: 15px;
}
.restaurants .card:not(:last-child) {
  margin-bottom: 2rem;
}
.restaurants .card img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  transform-origin: 0 50%;
  height: 200px;
  border-radius: 15px 15px 0 0;
}
.restaurants .card .card__new {
  position: absolute;
  color: #278870;
  background-color: #99E2D0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 8px 14px;
  font-size: 14px;
  border-radius: 2px;
  font-weight: 500;
  top: 20px;
  right: 20px;
}
.restaurants .card .card__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30%;
}
.restaurants .card .card__content__text {
  width: 100%;
  margin: 1rem;
  line-height: 1.7rem;
}
.restaurants .card .card__content__text p {
  font-size: 17px;
}
.restaurants .card .card__content__like {
  margin: 1rem 2rem 2rem 0;
  width: 10%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.restaurants .card i {
  font-size: 21px;
}
.restaurants .card i:hover {
  font-weight: 900;
  background: linear-gradient(to bottom, #FF79DA, #a16be0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 1300px) {
  .restaurants {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
  }
  .restaurants .container {
    max-width: 1100px;
    width: 100%;
  }
  .restaurants .restaurants__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 0;
  }
  .restaurants .restaurants__cards a {
    max-width: 500px;
    width: 47%;
  }
  .restaurants .restaurants__cards .card {
    max-width: 500px;
    padding: 0;
    margin: 0 0 3rem 0;
  }
}
footer {
  background: #353535;
  padding: 1.4rem 1.5rem;
}
footer li {
  list-style: none;
}
footer a {
  text-decoration: none;
  color: white;
}
footer h2 {
  font-family: "shrikhand", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: white;
  text-align: left;
  margin-bottom: 1rem;
}
footer .participate {
  color: white;
}
footer .participate :nth-child(1) ::before {
  font-family: "Font Awesome 5 Free";
  vertical-align: middle;
  font-weight: 900;
  font-size: 13px;
  content: "\f2e7";
  padding-right: 15px;
}
footer .participate :nth-child(2) ::before {
  font-family: "Font Awesome 5 Free";
  vertical-align: middle;
  font-weight: 900;
  font-size: 13px;
  content: "\f4c4";
  padding-right: 10px;
}
footer .participate li,
footer .contact-legal li:not(:last-child) {
  margin-bottom: 7px;
}

@media screen and (min-width: 800px) {
  footer {
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 30px 25px;
    height: 115px;
  }
  footer h2 {
    order: 2;
    margin-bottom: 0;
    padding: 0;
  }
  footer .lists {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .lists .participate,
  footer .lists .contact-legal {
    display: flex;
    justify-content: center;
    margin-right: 2rem;
  }
  footer .lists .participate li,
  footer .lists .contact-legal li {
    margin: 0;
    padding-right: 1rem;
  }
}
.header-restaurant {
  padding: 14px 0;
  display: flex;
  align-items: center;
  position: relative;
  height: 70px;
}
.header-restaurant img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 70px;
  padding: 1em;
  transform: translate(-50%, -50%);
}
.header-restaurant i {
  font-size: 2em;
  color: #353535;
  margin: 0 42px 0 1rem;
}

main {
  margin: 0 auto;
  background-color: #F6F6F6;
}
main img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.restaurant {
  margin: 0 auto;
  background-color: #F6F6F6;
  max-width: 1055px;
  border-radius: 40px 40px 0 0;
  transform: translateY(-50px);
}
.restaurant h1 {
  text-align: center;
  font-family: "shrikhand", sans-serif;
  font-weight: 400;
  font-size: clamp(1.4rem, 20px + 2vw, 3rem);
  padding: 2rem 0 1rem 0;
}
.restaurant i {
  font-size: clamp(1.4rem, 20px + 2vw, 3rem);
  margin-left: 2rem;
  padding: 2px;
}
.restaurant i:hover {
  background: linear-gradient(to bottom, #FF79DA, #a16be0);
  font-weight: 900;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.restaurant .container {
  padding: 1rem 1rem 2rem;
}
.restaurant .container .container__title {
  border-bottom: 4px solid #99E2D0;
  bottom: 0;
  left: 0;
  width: 40px;
}
.restaurant .container .container__title h2 {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 10px;
}
.restaurant .container__content {
  position: relative;
  padding: 1rem;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  margin-top: 1rem;
  line-height: 1.5rem;
  overflow: hidden;
}
.restaurant .container__content:hover {
  cursor: pointer;
}
.restaurant .container__content:hover .container__content__selected {
  transform: translateX(0);
  visibility: visible;
}
.restaurant .container__content:hover .price {
  margin-right: 60px;
  transition: all 0.6s linear;
}
.restaurant .container__content h3 {
  font-size: 18px;
  font-weight: 500;
}
.restaurant .container__content .container__content__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 300;
}
.restaurant .container__content .container__content__description .price {
  font-weight: bold;
  transition: all 0.6s linear;
}
.restaurant .container__content .container__content__selected {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  height: 100%;
  width: 60px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 15px 15px 0;
  transform: translateX(50px);
  visibility: hidden;
  transition: all 0.6s linear;
}
.restaurant .container__content .container__content__selected i {
  color: #fff;
  font-size: 2rem;
  margin: 0;
}
.restaurant .submit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
.restaurant .submit button {
  margin-top: 1rem;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(to bottom, #FF79DA, #a16be0);
  color: white;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 0 auto;
}
.restaurant .submit button:hover {
  opacity: 0.8;
  box-shadow: 0 0 15px #99E2D0;
}

/*# sourceMappingURL=style.css.map */
