// Base colors
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

// Light base colors
$light-color-primary: lighten($color-primary, 5%);
$light-color-secondary: lighten($color-secondary, 5%);
$light-color-tertiary: lighten($color-tertiary, 5%);

$color-gradient: linear-gradient(to bottom, $color-secondary, $light-color-primary);
$light-gradient: linear-gradient(to bottom, $light-color-secondary, $light-color-primary)

