@use '../abstract/mixins' as *;
@use '../abstract/variables' as *;

// Mobile version

.description {
  background-color: #F6F6F6;
  text-align: center;
  padding: 2rem 0;

  h1 {
    margin: 0 1rem;
    font-size: 24px;
    font-weight: 700;
  }

  p {
    margin: 1rem 0;
    padding: 0 1.5rem;
    font-size: 18px;
    font-weight: 300;
    color: #666666;
  }

  button {
    @include btnStyle;
    margin-bottom: 2rem;
    &:hover {
      @include btnHover;
    }
  }
}

// Tablet version