@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

// Mobile version

footer {
  background: #353535;
  padding: 1.4rem 1.5rem;

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: white;
  }

  h2 {
    font-family: "shrikhand", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-align: left;
    margin-bottom: 1rem;
  }

  .participate {
    color: white;

    :nth-child(1) {
      ::before {
        @include iconStyle;
        content: "\f2e7";
        padding-right: 15px;
      }
    }

    :nth-child(2) {
      ::before {
        @include iconStyle;
        content: "\f4c4";
        padding-right: 10px;
      }
    }
  }

  .participate li,
  .contact-legal li:not(:last-child) {
    margin-bottom: 7px;
  }
}

// Tablet version

@media screen and (min-width: 800px) {
  footer {
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 30px 25px;
    height: 115px;

    h2 {
      order: 2;
      margin-bottom: 0;
      padding: 0;
    }

    .lists {
      display: flex;
      justify-content: center;
      align-items: center;

      .participate,
      .contact-legal {
        display: flex;
        justify-content: center;
        //align-items: center;
        margin-right: 2rem;

        li {
          margin: 0;
          padding-right: 1rem;
        }
      }

    }
  }
}
