@use '../abstract/mixins' as *;
@use '../abstract/variables' as *;

.loader {
  opacity: 0;
  z-index: -5;
  position: fixed;
  top: 0;
  left: 0;
  @include flexCenter;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #e0dada;
  animation: displayLoader 3s cubic-bezier(1, -0.01, .63, .91);

  p {
    font-family: "shrikhand", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .wheel {
    @include flexCenter;
    width: 120px;
    height: 120px;
    position: relative;

    span {
      color: $color-primary;
      font-weight: bold;
      font-size: 1.4rem;
      animation: flash 2s alternate ease-in-out 2;
    }
  }

  .wheel::before {
    content: "";
    width: 120px;
    height: 120px;
    position: absolute;
    border-radius: 50%;
    border: 12px solid;
    border-color: $color-primary transparent $color-primary transparent;
    animation: spin 2s ease-in-out 2;
  }
}

@media screen and (min-width: 768px) {
  .loader {
    span {
      font-size: 2rem;
    }
    .wheel, .wheel::before {
      width: 160px;
      height: 160px;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes flash {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

@keyframes displayLoader {
  0%, 99% {
    z-index: 10;
  }
  0% {
    opacity: 1;
  }

  100% {
    z-index: -5;
    opacity: 0;
  }
}