@use '../abstract/mixins' as *;
@use '../abstract/variables' as *;

.restaurants {
  background-color: #F6F6F6;

  .restaurants__cards {
    @include flexCenter;
    flex-direction: column;
    padding-bottom: 4rem;

    a {
      text-decoration: none;
      color: black;
      width: 100%;
      max-width: 650px;
      height: 300px;
    }
  }

  h2 {
    text-align: left;
    padding: 3rem 0 1.5rem 1.2rem;
  }

  .card {
    @include flexCenter;
    position: relative;
    flex-direction: column;
    width: 90%;
    max-width: 650px;
    background-color: white;
    margin: 0 auto;
    border-radius: 15px;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    img {
      object-fit: cover;
      object-position: center center;
      width: 100%;
      height: 70%;
      border-radius: 15px 15px 0 0;
    }

    .card__new {
      position: absolute;
      color: darken($color-tertiary, 40%);
      background-color: $color-tertiary;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
      padding: 8px 14px;
      font-size: 14px;
      border-radius: 2px;
      font-weight: 500;
      top: 20px;
      right: 20px;
    }

    .card__content {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 30%;
    }

    .card__content__text {
      width: 100%;
      margin: 1rem;
      line-height: 1.7rem;

      p {
        font-size: 17px;
      }
    }

    .card__content__like {
      margin: 1rem 2rem 2rem 0;
      width: 10%;
      display: flex;
      justify-content: end;
      align-items: center;
    }

    .heart-hover {
      display: none;
    }

    i {
      font-size: 21px;

      &:hover {
        .heart {
          display: none;
        }

        .heart-hover {
          display: block;
        }

      }
    }
  }
}