@use '../abstract/mixins' as *;
@use '../abstract/variables' as *;

// Mobile version

.restaurants {
  @include flexCenter;
  padding: 2rem 1rem;
  background-color: #F6F6F6;

  .container {
    width: 100%;
    max-width: 700px;
  }

  .restaurants__cards {
    padding-bottom: 2rem;

    a {
      text-decoration: none;
      color: black;
      width: 100%;
      max-width: 650px;
      height: 300px;
    }
  }

  h2 {
    padding: 1.5rem 0;
  }

  .card {
    width: 100%;
    position: relative;
    background-color: white;
    margin: 0 auto;
    border-radius: 15px;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    img {
      object-fit: cover;
      object-position: center center;
      width: 100%;
      transform-origin: 0 50%;
      height: 200px;
      border-radius: 15px 15px 0 0;
    }

    .card__new {
      position: absolute;
      color: darken($color-tertiary, 40%);
      background-color: $color-tertiary;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
      padding: 8px 14px;
      font-size: 14px;
      border-radius: 2px;
      font-weight: 500;
      top: 20px;
      right: 20px;
    }

    .card__content {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 30%;
    }

    .card__content__text {
      width: 100%;
      margin: 1rem;
      line-height: 1.7rem;

      p {
        font-size: 17px;
      }
    }

    .card__content__like {
      margin: 1rem 2rem 2rem 0;
      width: 10%;
      display: flex;
      justify-content: end;
      align-items: center;
    }

    i {
      font-size: 21px;

      &:hover {
        font-weight: 900;
        background: $color-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: pointer;
      }
    }
  }
}

// Tablet version

@media screen and (min-width: 1300px) {
  .restaurants {
    margin: 0 auto;
    padding: 0;

    .container {
      max-width: 1100px;
      width: 100%;
    }

    .restaurants__cards {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding-bottom: 0;

      a {
        max-width: 500px;
        width: 47%;
      }

      .card {
        max-width: 500px;
        padding: 0;
        margin: 0 0 3rem 0;
      }
    }
  }
}