@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.working {
  @include flexCenter;
  padding: 3rem 1rem;

  .container {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
  }
  .icon {
    color: #7E7E7E;
    margin-right: 1.5rem;
    font-size: 1.3rem;
    transform: translateY(-15%);

    &-color {
      color: $color-primary;
    }
  }

  h2 {
    padding: 1.5rem 0;
  }

  &__content {
    margin: 0 0.5rem;


    &__row {
      position: relative;
      @include flexStartCenter;
      background-color: #F6F6F6;
      height: 75px;
      border-radius: 20px;
      box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
      padding: 0.8rem 2rem;
      font-weight: 500;
      margin-bottom: 1.5rem;

      div {
        @include flexCenter;
        font-size: 14px;
        position: absolute;
        color: white;
        background-color: $color-primary;
        width: 1.3rem;
        height: 1.3rem;
        border-radius: 50%;
        left: 0;
        transform: translateX(-50%);
      }
    }
  }
}